.discription-ttle{
    display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
    box-sizing: border-box;
    justify-content: space-between;
}
.ttle1{
    padding: 40px;
}
.ttle1:first-child{
    padding-left: 0;
}
.ttle1:last-child{
    padding-right: 0;
}
.loc-and-contact-col{
    display: flex;
}
.ttle1 h1{
    margin: 0;
}
.ttle1 h3{
    font-size: 1.5rem;
    font-weight: 600;
   margin: 0;
}
.ttle1 p{
    font-size: 1.5rem;
}
.contact-col{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
#text-area{
    margin: 0 !important;
    padding: 20px;
}
.login-pass input{
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 50px;
}
.map img{
    box-sizing: border-box;
    border-radius: 20px;
    width: 600px;
    margin-left: 20px;
    height: 100%;
}
#bttn{
    margin-top:20px ;
}
